#back_clean_btn {
	background-color: transparent;
	min-width: 1rem;
	color: white;
}
#blue_btn {
	background-color: #008DD0;
	color: white;
	border-radius: 4px;
	min-width: 1rem;
}
#red_btn {
	background-color: rgb(173, 40, 43);
	color: white;
	border-radius: 4px;
	min-width: 1rem;
}
#grey_btn {
	background-color: #4E4E4E;
	border-radius: 4px;
	color: white;
	min-width: 1rem;
}
#indigo_btn {
	min-width: 1rem;
	background-color: #384050;
	border-radius: 4px;
	color: white;
}
#white_btn {
	background-color: white;
  border-radius: 4px;
	min-width: 1rem;
	color: black;
}
#light_red_btn {
	background-color: rgb(129, 44, 46);
	color: white;
	border-radius: 4px;
	min-width: 1rem;
}