#main_content_maxwidthset {
	max-width: 800px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#main_content_minwidthset {
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#main_title {
	font-size: 3.75rem;
	font-weight: bold;
}
#main_introduce {
	font-size: 2.25rem;
	font-weight: bold;
}
#sub_introduce {
	font-size: 1.5rem;
	font-weight: bold;
}
#sub_title {
	font-size: 2.5rem;
	font-weight: bold;
	border-bottom: 1px solid rgb(215, 215, 215);
}
#item_detail {
	font-size: 1rem;
	line-height: 1.3;
}

@media ( max-width: 1500px ) { // 노트북 화면
	#main_content_maxwidthset {
		max-width: 800px;
		min-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	#main_content_minwidthset {
		min-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media ( max-width: 768px ) { // 모바일 화면
	
}